.App {
  text-align: center;
  background-color: #cfcfcf;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #000;
}

.card-container {
  position: relative;
}

.card-container input {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 60vh;
}
.card-input {
  background-color: white;
  padding: 15px;
  color: black;
  font-size: larger;
  font-weight: 600;
  border-radius: 3px;
  border-image-source: linear-gradient(to right, #f36d9e 0, #01fff3 70%);
  border-width: 2pt;
  border-image-slice: 1;
  box-shadow: 2px 12px 17px 5px #888;
}

.ccicon {
  height: 60px;
  position: absolute;
  right: 3px;
  top: calc(50% - 29px);
  width: 60px;
}

.closeicon {
  height: 30px;
  position: absolute;
  right: 6px;
  top: calc(50% - 40px);
  width: 30px;
}

.card-error {
  width: 100%;
  display: flex;
  padding: 10px;
  color: red;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
